:root{
  --colBackBtn: #2c3e50;
  --colTxtBtn: #f4e6a9;
  --colTitleSite: #f4e6a9;
  --colBackNav: #2c3e50;
  --colTxtNav: rgb(185, 185, 185);
  --colBackNavLink: rgb(87, 87, 87);
  --colTxtNavLink: black;
  --colTxtNavIcon: rgb(26, 26, 26);
  --colBackBody: #f4e6a9;
}

