:root{
  --colBackBtn: #2c3e50;
  --colTxtBtn: #39d2b4;
  --colTitleSite: #39d2b4;
  --colBackNav: #334B5E;
  --colTxtNav: #39d2b4;
  --colBackNavLink: #39d2b4;
  --colTxtNavLink: #2c3e50;
  --colBorderLink: #334B5E;
  --colTxtNavIcon: rgb(26, 26, 26);
  --colBackBody: #f5f1df;
  --fontBody: 'Freshliy', sans-serif;
  --fontTitle: 'Chaos', sans-serif;
  --fontSizeBody: 24px;
  --fontWeightbody: default;
  --colBorderRadio: #2c3e50;
  --colBackRadio: #39d2b4;
  --colRadio: #2c3e50;
}

