:root{
  --colBackBtn: rgb(51, 51, 51);
  --colTxtBtn: rgb(185, 185, 185);
  --colTitleSite: white;
  --colBackNav: rgb(51, 51, 51);
  --colTxtNav: rgb(185, 185, 185);
  --colBackNavLink: rgb(87, 87, 87);
  --colTxtNavLink: black;
  --colBorderLink: black;
  --colTxtNavIcon: white;
  --colBackBody: rgb(194, 194, 194);
}
