/* Global variables */
:root{
/* --colBackBtn: black;
--colTxtBtn: white; */
}

/* Global styles */
.titleSite{
  color: var(--colTitleSite);
}

.navLst{
  list-style-type: none;
}

.navLink{
  text-decoration: none;
}

/* Index styles */
.indexImg{
  width: 50px;
}

.indexTopicInfos{
  border: 1px solid;
}

/* Param styles */
.paramEraseCookie{
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
}

.paramSTEraseCookie{
  background-color: var(--colBackBtn);
  color: var(--colTxtBtn);
}
