:root{
  --colBackBtn: #fde3b5;
  --colTxtBtn: #286B77;
  --colTitleSite: #F50057;
  --colBackNav: #fde3b5;
  --colTxtNav: #286B77;
  --colBackNavLink: #f8c978;
  --colTxtNavLink: #ff1744;
  --colTxtNavIcon: #F50057;
  --colBackBody: #286B77;
  --fontBody: 'Amina', sans-serif;
  --fontTitle: 'Simple', sans-serif;
}

