:root{
  --colBackBtn: #fde3b5;
  --colTxtBtn: #286B77;
  --colTitleSite: #F50057;
  --colBackNav: #fde3b5;
  --colTxtNav: #286B77;
  --colBackNavLink: rgb(87, 87, 87);
  --colTxtNavLink: #ff1744;
  --colTxtNavIcon: rgb(26, 26, 26);
  --colBackBody: #286B77;
}

