:root{
  --colBackBtn: #fde3b5;
  --colTxtBtn: #286B77;
  --colTitleSite: #F50057;
  --colBackNav: #fde3b5;
  --colTxtNav: #286B77;
  --colBackNavLink: #f8c978;
  --colTxtNavLink: #F50057;
  --colTxtNavIcon: #F50057;
  --colBackBody: #286B77;
  --fontBody: 'Simple', sans-serif;
  --fontTitle: 'Amina', sans-serif;
  --fontSizeBody: 24px;
  --fontWeightbody: bold;
  --colBorderRadio: black;
  --colBackRadio: #fde3b5;
  --colRadio: #F50057;
  --colTxtFooter: black;
  --colSubTxtFooter: black;

}

