/* Global variables */
:root{
/* --colBackBtn: black;
--colTxtBtn: white; */
}

/* Global styles */
.titleSite{
  color: var(--colTitleSite);
}

body{
  background-color: var(--colBackBody);
}

.navST{
  background-color: var(--colBackNav);
  color: var(--colTxtNav);
  /* text-align: center; */
}

.navParamLst, .navIndexLst{
  list-style-type: none;
  display: flex;
}

.navParamLst{
  justify-content: space-between;
}

.navIndexLst{
  justify-content: flex-end;
}

.navSTLink{
  height: 32px;
}

.navSTLinkHome{
  background-color: var(--colBackNav);
  color: var(--colTxtNav);
  text-decoration: none;
  display: block;
}

nav .navSTLinkHome:hover {
  background-color: var(--colBackNavLink);
  color: var(--colTxtNavLink);
  border-bottom: 2px solid var(--colBorderLink);
}

.navSTBtnParam{
  color: var(--colTxtNav);
  transition: 450ms;
}

nav .navSTBtnParam:hover{
  color: var(--colTxtNavIcon);
}

.globalFooter{
  background-color: var(--colBackNav);
}

.globalTxtFooter{
  color: var(--colTitleSite);
}

.globalSubTxtFooter{
  color: var(--colTxtNav);
}
/*-----------------------------------------------------------------------------------------*/
/* Index styles */
.indexImg{
  width: 50px;
}

.indexTopicInfos{
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--colBackBtn);
  color: var(--colTxtBtn);
  transition: transform 450ms, background-color 450ms, color 450ms;
}

.indexTopicInfos:hover{
  background-color: var(--colTxtBtn);
  color: var(--colBackBtn);
  border-color: var(--colBackBtn);
  transform: scale(1.15);
}

/*----------------------------------------------------------------------------------------*/
/* Param styles */
.paramTitleParam{
  font-size: x-large;
  font-weight: bold;
}

.paramSTtheme{
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  padding: 10px;
  padding-left: 20px;
}

.paramSTCreateCookie, .paramSTEraseCookie{
  width: 225px;
  height: 36px;
  background-color: var(--colBackBtn);
  color: var(--colTxtBtn);
  transition: transform 450ms, background-color 450ms, color 450ms;
}

.paramSTCreateCookie{
  border-radius: 5px;
}

.paramSTEraseCookieLnk{
  text-decoration: none;
  color: var(--colTxtBtn);
}

.paramSTEraseCookie{
  border-radius: 7px;
  /* border: 1px solid; */
  padding: 5px 10px;
  /* transform: scale(1); */
}

.paramSTCreateCookie:hover, .paramSTEraseCookie:hover, .paramSTEraseCookieLnk:hover{
  color: var(--colBackBtn);
  background-color: var(--colTxtBtn);
  border-color: var(--colBackBtn);
  transform: scale(1.15);
}
